.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .sider-user {
        font-size: 16px;
        color: #fff;
        text-align: center;
        padding: 20px 0;
        font-weight: bold;
        border-bottom: 2px solid #222;
    }
}